.LoadingSplash {
  display: flex;
  justify-content: flex-end;
  align-items: start;
  flex-direction: column;
  padding: 8px;

  position: fixed;
  width: calc(100vw - 16px);
  height: calc(100vh - 16px);

  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;

  & > * {
    opacity: 100%;
    color: white;
  }

  &__FadeIn {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
  }

  &__FadeOut {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
  }
}

$ring-diameter: 20px;
$ring-thickness: 4px;
$container-size: calc($ring-diameter + $ring-thickness * 2);

$color-1: #038cfc;
$color-2: #71b671;

.lds_dual_ring {
  display: inline-block;
  width: $container-size;
  height: $container-size;
  padding: 8px;
  opacity: 1;
}
.lds_dual_ring:after {
  content: " ";
  display: block;
  width: $ring-diameter;
  height: $ring-diameter;
  border-radius: 50%;
  border: $ring-thickness solid #fff;
  border-color: $color-1 transparent $color-2 transparent;
  animation: lds_dual_ring 0.8s ease infinite;
}
@keyframes lds_dual_ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// .lds_ring {
//   display: inline-block;
//   position: relative;
//   width: 80px;
//   height: 80px;
// }
// .lds_ring div {
//   box-sizing: border-box;
//   display: block;
//   position: absolute;
//   width: 64px;
//   height: 64px;
//   margin: 8px;
//   border: 8px solid #fff;
//   border-radius: 50%;
//   animation: lds_ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
//   border-color: #fff transparent transparent transparent;
// }
// .lds_ring div:nth-child(1) {
//   animation-delay: -0.45s;
// }
// .lds_ring div:nth-child(2) {
//   animation-delay: -0.3s;
// }
// .lds_ring div:nth-child(3) {
//   animation-delay: -0.15s;
// }
// @keyframes lds_ring {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
