@use "../../styles/templates";

.FuelSelector {
  &_Body {
    margin: 120px 60px;
    padding: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;

    width: 100vw;
    max-width: 400px;
    height: fit-content;
    max-height: 400px;

    background-color: var(--background);
    color: var(--text);

    @include templates.modal_border;

    z-index: 10;

    &__Short {
      grid-template-rows: 60px 1fr 20px;
    }

    & > p {
      grid-column: span 3;
      text-align: center;
    }
  }

  &_Lookup {
    grid-column: span 3;
    &__Loading {
      border-radius: 4px;
      outline: 2px solid #038cfc;
    }

    display: grid;
    grid-template-rows: 20px 20px;
    grid-template-columns: 1fr 3fr;
    gap: 8px;

    text-align: left;
    align-items: center;

    &_Text {
      text-align: center;
      grid-column: span 2;
    }
  }

  &_List {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 12px;
    max-height: 100%;

    overflow-y: auto;
  }

  &_Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);

    z-index: 100;
  }

  &_Title {
    margin: 0;
    padding: 0;

    grid-column: span 3;
  }

  &_ColumnHeading {
    margin: 0;
    padding: 0;

    height: 48px;
    width: 100%;

    & * {
      margin: 0;
      padding: 0;
    }

    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--background);
  }

  &_Show,
  &_Button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 8px;
    z-index: 2;
    background-color: var(--background);
    border: none;
    border-radius: 8px;

    user-select: none;
    cursor: pointer;
    color: var(--text);

    &:hover {
      background: rgb(216, 216, 216);
    }
  }

  &_Show {
    background-color: var(--background);
  }

  &_Image {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  &_Point {
    &__Selected {
      outline: 2px solid #038cfc;
      background-color: #a0ebff;

      &:hover {
        background-color: #7ad4ec;
      }
    }
    &__InUse {
      cursor: not-allowed;
      background-color: #bebebe;

      &:hover {
        background-color: #bebebe;
      }
    }
  }

  &_Swap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
