.StationModal {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;

  width: 320px;
  height: 320px;

  z-index: 10;

  background-color: #eee;
  outline: 2px solid rgb(122, 24, 24);

  border-radius: 8px;

  cursor: default;

  &_Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding: 20px;

    width: 280px;

    text-align: left;
  }

  &_Blackout {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 9;

    background-color: rgba(0, 0, 0, 0.4);

    cursor: pointer;
  }

  &_Maps {
    padding: 4px;
    border-radius: 4px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    text-decoration: none;
  }
}
