.StationModal {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;

  width: 320px;
  // height: 320px;

  z-index: 10;

  background-color: #eee;
  outline: 2px solid rgb(122, 24, 24);

  border-radius: 8px;

  cursor: default;

  &_Container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-around;
    gap: 8px;
    padding: 20px;

    width: 280px;

    text-align: left;
  }

  &_Blackout {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 9;

    background-color: rgba(0, 0, 0, 0.4);

    cursor: pointer;
  }

  &_Title {
    width: 100%;
    text-align: center;

    & > * {
      margin: 4px;
    }
  }

  &_Maps {
    padding: 4px;
    border-radius: 4px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    text-decoration: none;
    width: fit-content;
  }

  &_Prices {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-column-end: span 2;

    &_Row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 12px;
      padding: 2px 4px;

      &__Selected {
        outline: 4px solid gold;
        border-radius: 2px;

        order: -1;
      }

      text-align: right;
      & > *:first-child {
        text-align: right;
      }

      border-bottom: 1px solid gray;
      // &:not(:last-child) {
      //   border-bottom: 0;
      // }
    }
  }
}
