.AppMenu {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  justify-content: start;
  align-items: center;

  // background-color: rgba(255, 255, 255, 0.5);

  &_Minimised {
    height: fit-content;
    background: none;
    opacity: 0.8;
  }
}
