.Modal {
  &_Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);

    z-index: 100;
  }

  &_Show,
  &_Button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 8px;
    z-index: 2;
    background-color: var(--background);
    border: none;
    border-radius: 8px;

    user-select: none;
    cursor: pointer;

    &:hover {
      background: rgb(216, 216, 216);
    }
  }

  &_Show {
    background-color: var(--background);
  }
}
