.ToolBar {
  &_Container {
    padding: 0;
    margin: auto;
    width: min-content;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  display: flex;

  gap: 8px;
  padding: 8px 16px;
  z-index: 2;
  background: white;

  border-radius: 8px 8px 0 0;
  outline: 2px solid rgb(122, 24, 24);
  box-shadow: 0px 4px 8px #00000060;

  z-index: 1;
}
