@use "../../styles/templates";

.ToolBar {
  &_Container {
    padding: 0;
    margin: auto;
    width: min-content;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  display: flex;

  gap: 8px;
  padding: 8px 16px;
  z-index: 2;
  background-color: var(--background);
  color: var(--text);

  @include templates.modal_border;
  border-radius: 32px 32px 0 0;

  z-index: 1;
}
