@use "../../styles/templates";

.GraphModal {
  &_Body {
    max-width: 400px;
    margin: 8px;

    display: grid;
    grid-template-rows: auto 1fr;

    width: 100%;
    height: 80vh;
    max-height: 400px;
    background-color: var(--background);

    // @include templates.modal_border;

    z-index: 10;
  }

  &_List {
    display: grid;
    padding: 12px;
    max-height: 100%;
  }

  &_Title {
    margin: 0;
    padding: 0;
  }

  &_Show {
    padding: 8px;
    z-index: 2;
    background: var(--background) white;
    border: none;
    border-radius: 8px;

    user-select: none;
    cursor: pointer;

    &:hover {
      background: rgb(216, 216, 216);
    }
  }

  &_Image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  &_YAxis {
    font-size: 2px;
  }
}
