@use "../../styles/templates";
@use "../../styles/palette";

$gap: 8px;
$elementSize: 32px;
$ToolboxWidth: calc($elementSize + 2 * $gap);

.Toolbox {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: flex-start;

  display: grid;
  grid-template-columns: $ToolboxWidth min-content;
  grid-auto-rows: $elementSize;
  gap: $gap;
  justify-content: center;
  align-content: start;
  // @include templates.modal_border;
  border-radius: 0;
  min-width: $ToolboxWidth;
  padding: 0;

  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  position: absolute;

  height: auto;
  top: $gap;
  bottom: 0;

  &_Container {
    z-index: 30;
    // background-color: palette.$background;
  }

  &_Container__Show {
    animation-duration: 0.2s;
    animation-name: slide-in;
  }

  &_Container__Hide {
    animation-duration: 0.2s;
    animation-name: slide-out;
    left: -$ToolboxWidth;
    margin-right: -$ToolboxWidth;
  }

  &_Show,
  &_Hide {
    width: 3rem;
    height: 3rem;

    padding: 8px;
    z-index: 2;
    background: var(--background);
    border: none;
    border-radius: 8px;

    user-select: none;
    cursor: pointer;

    &:hover {
      background: rgb(216, 216, 216);
    }
  }

  &_Hide {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  &_Show {
    position: absolute;
    top: $gap;
    left: $gap;

    border-radius: 0 0 8px 0;

    z-index: 30;

    opacity: 40%;

    &:hover {
      opacity: 100%;
      // box-shadow: 0px 4px 8px #00000060;
    }
  }

  &_Hamburger {
    box-shadow: 0 0 2px #00000033, 0 -1px 0 #00000005;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    padding: 4px;
    width: $elementSize;
    height: $elementSize;
    justify-self: center;

    background-color: white;

    & img {
      padding: 0;
      margin: 0;
      width: 24px;
      height: 24px;
    }
  }
}

@keyframes slide-in {
  0% {
    left: -$ToolboxWidth;
    margin-right: -$ToolboxWidth;
  }
  100% {
    left: 0;
    margin-right: 0px;
  }
}

@keyframes slide-out {
  from {
    left: 0;
    margin-right: 0px;
  }
  to {
    left: -$ToolboxWidth;
    margin-right: -$ToolboxWidth;
  }
}
