@use "../../styles/templates";

.Toolbox {
  //   max-width: 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  //   justify-content: center;
  @include templates.modal_border;
  border-radius: 0;

  overflow-y: auto;
  z-index: 1;

  &_Container__Show {
    position: relative;
    animation-duration: 0.4s;
    animation-name: slide-in;
  }

  &_Container__Hide {
    position: relative;
    animation-duration: 0.4s;
    animation-name: slide-out;
  }

  &_Hide {
    padding: 8px;
    z-index: 2;
    background: var(--background);
    border: none;
    border-radius: 8px;

    user-select: none;
    cursor: pointer;

    &:hover {
      background: rgb(216, 216, 216);
    }
  }

  &_Show {
    position: absolute;
    top: 0;
    left: 0;

    width: 4rem;
    height: 4rem;

    padding: 8px;
    z-index: 2;
    background: var(--background);
    border: none;
    border-radius: 0 0 8px 0;

    user-select: none;
    cursor: pointer;

    opacity: 80%;

    &:hover {
      opacity: 100%;
      background: rgb(216, 216, 216);
    }
  }
}

@keyframes slide-in {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

@keyframes slide-out {
  from {
    left: 0%;
  }
  to {
    left: -100%;
    margin-right: -100%;
  }
  100% {
    width: 0;
  }
}
