@use "../../styles/templates";
@use "../../styles/palette";

$ToolboxWidth: 70px;

.Toolbox {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: flex-start;

  display: grid;
  grid-template-columns: $ToolboxWidth min-content;
  grid-auto-rows: $ToolboxWidth;
  justify-content: center;
  align-content: start;
  @include templates.modal_border;
  border-radius: 0;
  min-width: $ToolboxWidth;
  padding: 0;

  overflow-x: hidden;
  overflow-y: auto;
  z-index: 20;
  position: relative;

  height: auto;
  top: 0;
  bottom: 0;

  &_Container {
    z-index: 30;
    background-color: palette.$background;
  }

  &_Container__Show {
    animation-duration: 0.2s;
    animation-name: slide-in;
  }

  &_Container__Hide {
    animation-duration: 0.2s;
    animation-name: slide-out;
    left: -$ToolboxWidth;
    margin-right: -$ToolboxWidth;
  }

  &_Show,
  &_Hide {
    width: 3rem;
    height: 3rem;

    padding: 8px;
    z-index: 2;
    background: var(--background);
    border: none;
    border-radius: 8px;

    user-select: none;
    cursor: pointer;

    &:hover {
      background: rgb(216, 216, 216);
    }
  }

  &_Hide {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  &_Show {
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 0 0 8px 0;

    z-index: 30;

    opacity: 40%;

    &:hover {
      opacity: 100%;
      box-shadow: 0px 4px 8px #00000060;
    }
  }
}

@keyframes slide-in {
  0% {
    left: -$ToolboxWidth;
    margin-right: -$ToolboxWidth;
  }
  100% {
    left: 0;
    margin-right: 0px;
  }
}

@keyframes slide-out {
  from {
    left: 0;
    margin-right: 0px;
  }
  to {
    left: -$ToolboxWidth;
    margin-right: -$ToolboxWidth;
  }
}
