@use "../../styles/templates";
@use "../../styles/palette";
@use "../Toolbox/Toolbox.module.scss";

$ModalWidth: 100vw;
$elementSize: 48px;

.ToolboxModal {
  &_Container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: fixed;
    bottom: 0;
    height: fit-content;
    max-height: 50vh;
    height: 50vh;
    width: $ModalWidth;
    // max-width: calc(100vw - Toolbox.$ToolboxWidth);

    gap: 8px;

    background-color: #f6f6f6a0;
    color: var(--text);

    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: span auto;

    overflow-y: auto;

    box-shadow: 8px 0px 8px #00000060;

    z-index: -10;

    &__Show,
    &__Hide {
      // box-shadow: none;
      animation-duration: 0.2s;
    }

    &__Show {
      animation-name: slide-in;
      left: 0;
    }

    &__Hide {
      animation-name: slide-out;
      left: -$ModalWidth;
      margin-right: -$ModalWidth;
    }
  }

  &_Show,
  &_Button,
  &_Hamburger {
    grid-column-start: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 8px;
    z-index: 20;
    border: none;
    border-radius: 8px;

    user-select: none;
    cursor: pointer;
    background-color: var(--background);
    color: var(--text);

    &:hover {
      background: rgb(216, 216, 216);
    }
  }

  &_Hamburger {
    box-shadow: 0 0 2px #00000033, 0 -1px 0 #00000005;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    padding: 4px;
    width: $elementSize;
    height: $elementSize;
    justify-self: center;

    background-color: white;

    & img {
      padding: 0;
      margin: 0;
      width: calc($elementSize - 8px);
      height: calc($elementSize - 8px);
    }
  }

  &_Show {
    grid-column-start: 1;
  }

  &_Hide {
    position: absolute;
    top: 0;
    right: 0;
  }

  &_Visible {
    grid-row: span auto;
  }

  &_Hidden {
    grid-column-start: 1;
  }
}

@keyframes slide-in {
  0% {
    left: -$ModalWidth;
    // margin-right: -$ModalWidth;
  }
  100% {
    left: 0;
    // margin-right: 0px;
  }
}

@keyframes slide-out {
  from {
    left: 0;
    margin-right: 0px;
  }
  to {
    left: -$ModalWidth;
    margin-right: -$ModalWidth;
  }
}
