@use "../../styles/templates";
@use "../../styles/palette";
@use "../Toolbox/Toolbox.module.scss";

$ModalWidth: 300px;

.ToolboxModal {
  &_Container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: fixed;
    height: 100vh;
    width: $ModalWidth;
    max-width: calc(100vw - Toolbox.$ToolboxWidth);
    // background-color: rgba(0, 0, 0, 0.4);

    gap: 8px;

    background-color: var(--background);
    color: var(--text);

    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: span auto;

    overflow-y: auto;

    box-shadow: 8px 0px 8px #00000060;

    z-index: -10;

    &__Show,
    &__Hide {
      // box-shadow: none;
      animation-duration: 0.2s;
    }

    &__Show {
      animation-name: slide-in;
      left: Toolbox.$ToolboxWidth;
    }

    &__Hide {
      animation-name: slide-out;
      left: -$ModalWidth;
      margin-right: -$ModalWidth;
    }
  }

  &_Show,
  &_Button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 8px;
    z-index: 20;
    border: none;
    border-radius: 8px;

    user-select: none;
    cursor: pointer;
    background-color: var(--background);
    color: var(--text);

    &:hover {
      background: rgb(216, 216, 216);
    }
  }

  &_Show {
    background-color: var(--background);
    grid-column-start: 1;
  }

  &_Hide {
    position: absolute;
    top: 0;
    right: 0;
  }

  &_Visible {
    grid-row: span auto;
  }

  &_Hidden {
    grid-column-start: 1;
  }
}

@keyframes slide-in {
  0% {
    left: -$ModalWidth;
    // margin-right: -$ModalWidth;
  }
  100% {
    left: Toolbox.$ToolboxWidth;
    // margin-right: 0px;
  }
}

@keyframes slide-out {
  from {
    left: Toolbox.$ToolboxWidth;
    margin-right: 0px;
  }
  to {
    left: -$ModalWidth;
    margin-right: -$ModalWidth;
  }
}
