@use "../../styles/templates";

.PriceList {
  &_Body {
    margin: 120px 60px;
    padding: 12px;

    display: grid;
    grid-template-rows: auto 1fr;

    width: 100vw;
    max-width: 400px;
    height: 80vh;
    max-height: 400px;
    background-color: var(--background);

    @include templates.modal_border;

    z-index: 10;
  }

  &_List {
    display: grid;
    padding: 12px;
    max-height: 100%;
    overflow-y: scroll;
    gap: 4px;

    margin: 24px 0;
    border: 1px solid black;
    border-radius: 4px;

    & div:first-child {
      outline: 4px solid gold;

      border-radius: 2px;
    }
  }

  &_Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);

    z-index: 100;
  }

  &_Title {
    margin: 0;
    padding: 0;
  }

  &_Show {
    padding: 8px;
    z-index: 2;
    background: var(--background);
    border: none;
    border-radius: 8px;

    user-select: none;
    cursor: pointer;

    &:hover {
      background: rgb(216, 216, 216);
    }
  }

  &_Image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}
