.PriceList {
  &_Body {
    margin: 60px;
    padding: 12px;

    max-width: 400px;
    background-color: #eee;

    border-radius: 4px;
    outline: 2px solid rgb(122, 24, 24);
    box-shadow: 0px 4px 8px #00000060;
  }

  &_Container {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    background-color: #eeeeee86;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 10;
  }

  &_Title {
    margin: 0;
    padding: 0;
  }

  &_Show {
    position: absolute;
    bottom: 0;
    right: 0;

    max-width: 40%;

    padding: 8px 16px;
    z-index: 2;
    background: white;

    border-radius: 8px 0 0 0;
    outline: 2px solid rgb(122, 24, 24);
    box-shadow: 0px 4px 8px #00000060;
  }
}
