.PriceListItem {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 1em;

  overflow: hidden;

  gap: 4px;
  height: fit-content;
  padding: 4px;

  text-align: left;

  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: var(--highlight);
  }
}
