.PriceListItem {
  display: grid;
  grid-template-columns: 1fr 40px;

  gap: 4px;
  height: fit-content;
  padding: 4px;
  border-bottom: 1px solid black;

  text-align: left;

  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: var(--highlight);
  }
}
