@use "./styles/palette";
@use "./styles/templates";

#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

html,
body,
p {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.App {
  &__Light {
    --background: #{palette.$background};
    --highlight: #{palette.$highlight};
    --accent: #{palette.$accent};
    --alt: #{palette.$alt};
    --text: #{palette.$text};
  }

  &__Dark {
    --background: #{palette.$background-dark};
    --highlight: #{palette.$highlight-dark};
    --accent: #{palette.$accent-dark};
    --alt: #{palette.$alt-dark};
    --text: #{palette.$text-dark};
  }

  background-color: var(--background);
  color: var(--text);
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;

  &__Active {
    height: 100%;
    width: 100%;
    box-shadow: inset 4px 4px 0px 0px green, inset -4px -4px 0px 0px green;
    background: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
  }

  &_Label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    width: 100vw;
    max-width: fit-content;
    overflow: auto;
    margin: auto;
    padding: 16px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: var(--background);
    // pointer-events: none;

    @include templates.modal_border;
    border-radius: 0 0 16px 16px;
  }

  &_Info {
    position: absolute;
    bottom: 0;
    left: 0;

    max-width: 40%;

    padding: 8px 16px;
    z-index: 2;
    background: var(--background);

    border-radius: 0 8px 0 0;
    outline: 4px solid green;
    box-shadow: 0px 4px 8px #00000060;

    pointer-events: none;
    & a,
    button {
      pointer-events: all;
    }
  }

  &_Warning {
    position: absolute;
    bottom: 0;
    right: 0;

    max-width: 40%;

    padding: 8px 16px;
    z-index: 2;
    background: rgb(255, 100, 100);

    border-radius: 8px 0 0 0;
    box-shadow: 0px 8px 16px #00000060;

    pointer-events: none;
  }

  &_Loader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;

    width: 100vw;
    height: 100vh;

    z-index: 1;
    background-color: black;
    opacity: 60%;

    position: absolute;

    & > * {
      opacity: 100%;
      color: white;
    }

    &__FadeIn {
      visibility: visible;
      opacity: 0.4;
      transition: opacity 0.5s linear;
    }

    &__FadeOut {
      pointer-events: none;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 0.5s, opacity 0.5s linear;
    }
  }
}

.SetHome {
  padding: 8px;
  z-index: 2;
  background: var(--background);
  border: none;
  border-radius: 8px;

  user-select: none;
  cursor: pointer;

  &:hover {
    background: var(--highlight);
  }

  &_Image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}

.lds_dual_ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds_dual_ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds_dual_ring 1.2s linear infinite;
}
@keyframes lds_dual_ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds_ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds_ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds_ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds_ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds_ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds_ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds_ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
