.WelcomeSplash {
  &_Body {
    max-width: 400px;

    margin: 120px 60px;
    padding: 32px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;

    height: fit-content;
    background-color: var(--background);

    border-radius: 32px;
    // outline: 2px solid rgb(122, 24, 24);
    box-shadow: 0px 4px 8px #00000060;

    & > p {
      font-size: 0.8em;
      text-align: justify;
    }

    & > b {
      text-align: center;
    }

    z-index: 10;
  }

  &_List {
    display: grid;
    padding: 12px;
    max-height: 100%;
    overflow-y: scroll;
    gap: 4px;

    margin: 24px 0;
    border: 1px solid black;
    border-radius: 4px;

    & div:first-child {
      outline: 4px solid gold;

      border-radius: 2px;
    }
  }

  &_Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // width: 100vw;
    // height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);

    // width: 400px;
    max-width: 100vw;

    z-index: 100;
  }

  &_Title {
    margin: 0;
    padding: 0;
  }

  &_Show {
    padding: 8px;
    z-index: 2;
    background: var(--background);
    border: none;
    border-radius: 8px;

    user-select: none;
    cursor: pointer;

    &:hover {
      background: rgb(216, 216, 216);
    }
  }

  &_Image {
    display: block;
    width: fit-content;
    margin: 24px auto;
    padding: 0;
    height: 36px;

    & > * {
      height: 100%;
      object-fit: contain;
    }

    border-radius: 8px;
    background: #f0f0f0;
    // box-shadow: 15px 15px 30px #b4b4b4, -15px -15px 30px #ffffff;

    &:hover {
      // box-shadow: 15px 15px 30px #cecece, -15px -15px 30px #ffffff;
      box-shadow: 4px 4px 4px #cecece;
    }
  }
}
