.LocationLookup {
  &_Container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
    width: calc(100% - 16px);
    max-width: 30em;
    margin: 8px;
  }

  &_Searchbar {
    display: flex;
    flex-direction: column;
    gap: 4px;

    // outline: 1px solid #333;
    box-shadow: 0 0 2px #00000033, 0 -1px 0 #00000005;
    border-radius: 16px;
    overflow: hidden;
    padding: 8px;

    background-color: white;

    & input {
      border: none;
      background-color: white;
    }

    & input:focus {
      outline: none;
    }
  }

  &_Focusbar {
    display: flex;
    flex-direction: column;
    gap: 2px;

    position: relative;
    &_Show,
    &_Hide {
      animation-duration: 1s;
    }

    &_Show {
      animation-name: slide-in;
      display: flex;
      height: 100%;
    }

    &_Hide {
      animation-name: slide-out;
      display: none;
    }
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    height: 0%;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    height: 100%;
  }
  to {
    display: none;
    opacity: 0;
    height: 0%;
  }
}
