.LocationLookup {
  &_Container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 4px;
  }

  &_Searchbar {
    display: flex;
    flex-direction: column;
    gap: 4px;

    // outline: 1px solid #333;
    box-shadow: 0 0 2px #00000033, 0 -1px 0 #00000005;
    border-radius: 16px;
    overflow: hidden;
    padding: 8px;

    background-color: white;

    & input {
      border: none;
      background-color: white;
    }

    & input:focus {
      outline: none;
    }
  }

  &_SavedLocations {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
}
