.LocationLookup {
  &_Container {
    display: flex;
    flex-direction: column;
    justify-self: start;
    gap: 4px;
    width: calc(100% - 16px);
    max-width: 30em;
    min-height: 18px;
  }

  &_Searchbar {
    display: flex;
    flex-direction: column;
    justify-self: end;
    gap: 4px;
    width: calc(100% - 16px);
    max-width: 30em;
    min-height: 18px;
    grid-column: 2;

    // outline: 1px solid #333;
    box-shadow: 0 0 2px #00000033, 0 -1px 0 #00000005;
    border-radius: 16px;
    overflow: hidden;
    padding: 8px;

    background-color: #ffffffe0;

    font-size: 0.8em;
    & * {
      text-align: start;
    }

    & input {
      border: none;
      // background-color: white;
    }

    & input:focus {
      outline: none;
    }

    &_Focused {
      z-index: 25;
    }
  }

  &_Focusbar {
    display: flex;
    flex-direction: column;
    gap: 2px;

    position: relative;
    &_Show,
    &_Hide {
      animation-duration: 0.2s;
    }

    &_Show {
      animation-name: slide-in;
      display: flex;
      height: 100%;
    }

    &_Hide {
      animation-name: slide-out;
    }

    &_Hidden {
      opacity: 0;
      display: none;
    }
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    height: 0%;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
